<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">%h</name>
    <service>
        <type>_webdav._tcp</type>
        <port>80</port>
        <txt-record>path=/data/dav/data/</txt-record>
        <txt-record>u=pi</txt-record>
    </service>
    <service>
        <type>_webdavs._tcp</type>
        <port>443</port>
        <txt-record>path=/data/dav/data/</txt-record>
        <txt-record>u=pi</txt-record>
    </service>
</service-group>
