[submodule "home/pi/uhubctl"]
	path = home/pi/uhubctl
	url = https://github.com/mvp/uhubctl
[submodule "home/pi/pymqttutil"]
	path = home/pi/pymqttutil
	url = https://github.com/trackIT-Systems/pymqttutil
[submodule "home/pi/pysmartsolar"]
	path = home/pi/pysmartsolar
	url = https://github.com/trackIT-Systems/pysmartsolar
[submodule "home/pi/.oh-my-zsh"]
	path = home/pi/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "home/pi/Witty-Pi-4"]
	path = home/pi/Witty-Pi-4
	url = https://github.com/trackIT-Systems/Witty-Pi-4
[submodule "home/pi/wittypi4"]
	path = home/pi/wittypi4
	url = https://github.com/trackIT-Systems/wittypi4
[submodule "home/pi/vedirect_dump"]
	path = home/pi/vedirect_dump
	url = https://github.com/trackIT-Systems/vedirect_dump
[submodule "home/pi/tsconfig"]
	path = home/pi/tsconfig
	url = https://github.com/trackIT-Systems/tsconfig
[submodule "home/pi/tsupdate"]
	path = home/pi/tsupdate
	url = https://github.com/trackIT-Systems/tsupdate.git
[submodule "home/pi/tsschedule"]
	path = home/pi/tsschedule
	url = https://github.com/trackIT-Systems/tsschedule.git
