services:
  pimod:
    image: nature40/pimod:v0.9.1
    privileged: true
    tty: true
    volumes:
      - .:/tsOS-base
    working_dir: /tsOS-base
    environment:
      - IMG
    command: pimod.sh tsOS-base.Pifile
