# usb_modeswitch script for Huawei / Brovi e7720-325
# credit: https://blog.tanatos.org/posts/huawei_e3372h-325_brovi_with_linux/
# alternative: https://www.draisberghof.de/usb_modeswitch/bb/viewtopic.php?f=3&t=3043

ACTION!="add", GOTO="modeswitch_rules_end"
SUBSYSTEM!="usb", GOTO="modeswitch_rules_end"

# All known install partitions are on interface 0
ATTRS{bInterfaceNumber}!="00", GOTO="modeswitch_rules_end"

GOTO="modeswitch_rules_begin"

LABEL="modeswitch_rules_begin"
# Huawei E3372-325
ATTR{idVendor}=="3566", ATTR{idProduct}=="2001", RUN+="/usr/local/bin/brovi_switch %k %p"

LABEL="modeswitch_rules_end"
