SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2dee", ENV{ID_MODEL_ID}=="4d57", ENV{ID_MM_PORT_IGNORE}="1"

# per-port definition
# SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2dee", ENV{ID_MODEL_ID}=="4d57", ENV{ID_USB_INTERFACE_NUM}=="02", ENV{ID_MM_PORT_IGNORE}="1"
# SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2dee", ENV{ID_MODEL_ID}=="4d57", ENV{ID_USB_INTERFACE_NUM}=="03", ENV{ID_MM_PORT_IGNORE}="1"
# SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2dee", ENV{ID_MODEL_ID}=="4d57", ENV{ID_USB_INTERFACE_NUM}=="04", ENV{ID_MM_PORT_IGNORE}="1"
# SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2dee", ENV{ID_MODEL_ID}=="4d57", ENV{ID_USB_INTERFACE_NUM}=="05", ENV{ID_MM_PORT_IGNORE}="1"

# SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="2dee", ATTRS{idProduct}=="4d57", ENV{ID_USB_INTERFACE_NUM}=="00", ENV{ID_MM_PORT_IGNORE}="1"

SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="2dee", ATTRS{idProduct}=="4d57", NAME="trm0"
