[Unit]
Description=Evaluate sensors for active bats and trigger recordings
After=network.target time-sync.target hostname-config.service raspimjpeg.service raspiwebcam.service radiotracking.service

# Reboot after more than 10 restarts in 15 minutes happened.
# This will happen after 10 minutes at the earliest, according to service configuration.
StartLimitBurst=10
StartLimitIntervalSec=900s
StartLimitAction=reboot

[Service]
ExecStart=python3 -m batrack /boot/batrack.conf
Restart=always
RestartSec=60s
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
