[Unit]
Description=filebrowser
After=network.target

[Service]
Nice=10
ExecStart=/usr/bin/filebrowser -c /etc/filebrowser/filebrowser.yml
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
