[Unit]
Description=Set hostname, hotspot SSID, and timezone from kernel cmdline
DefaultDependencies=no
After=local-fs.target
Before=network-pre.target networking.service NetworkManager.service avahi-daemon.service
Wants=network-pre.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
ExecStart=/etc/hostname.sh
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=network-pre.target
