[Unit]
Description=MQTTUtil
After=network-online.target mosquitto.service time-sync.target hostname-config.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 -m mqttutil -c /boot/firmware/mqttutil.conf -v --outpath=/data
Restart=always
RestartSec=10s
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
