[Unit]
Description=Web-based configuration and system management interface
After=network.target

[Service]
Nice=10
Environment="TERM=xterm-256color"
Environment="LOG_LEVEL=INFO"
Environment="TSCONFIG_CONFIG_FILE=/boot/firmware/tsconfig.yml"
WorkingDirectory=/home/pi/tsconfig
ExecStart=python3 -m uvicorn app.main:app

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
