[Unit]
Description=Schedule Management
After=time-set.target
Before=time-sync.target
Requires=time-set.target

[Service]
ExecStart=/usr/local/bin/wittypid --schedule /boot/firmware/schedule.yml -v
Restart=always
RestartSec=300s

[Install]
WantedBy=multi-user.target
