[Unit]
Description=Power Management
After=wittypi-detect.service
Requires=wittypi-detect.service

[Service]
ExecStartPre=/usr/bin/bash -c "echo Copying '/boot/firmware/schedule.wpi:'; tee -a /home/pi/Witty-Pi-4/Software/wittypi/schedule.wpi </boot/firmware/schedule.wpi"
ExecStart=/home/pi/Witty-Pi-4/Software/wittypi/daemon.sh
ExecStopPost=/usr/bin/bash -c "source /home/pi/Witty-Pi-4/Software/wittypi/utilities.sh && clear_shutdown_time && echo Shutdown time cleared."

[Install]
WantedBy=multi-user.target
